BOT_TOKEN=1234567890:your_bot_token
DATABASE_URL=postgresql+asyncpg://vpnbot:secret@localhost:5432/vpnbot
VPN_CHANNEL_ID=-1001234567890
VPN_CHANNEL_USERNAME=https://t.me/crystalburnnb
PAYMENT_PROVIDER_TOKEN=381764678:TEST:12345
PAYMENT_CURRENCY=RUB
LOG_LEVEL=INFO
ADMIN_IDS=1061103635
MESSAGE_BANNER_PATH=5554EDCD-AA4B-4150-A75C-7A75E0155E5A.PNG
MESSAGE_BANNER_FILE_ID=
